header {
    font-weight: 500;
    color: #F9F4DA;
    font-size: 1.25rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-description{
    font-weight: 500;
    font-size: 0.875rem;
    max-width: 400px;
    color: #8E8E8E;
}

.game-updates{
    width: 352px;
    height: 59px;
    margin: auto;
    border-radius: 4px;
    font-size: 1rem;
}

.update {
    background-color: #7A5EA7;
    border: 3px dotted #323232;
}

.updates-main-text{
    font-style: italic;
    font-weight: 400;
}

.updates-sub-text{
    font-weight: 500;
}

.result-text{
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
}

.lost{
    background-color: #BA2A2A;  
    border: 0;  
}

.won{
    background-color: #10A95B;
    border: 0;
}

.languages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.1rem;
    max-width: 300px;
    margin-inline: auto;
}

.lang{
    border-radius: 3px;
    border: 0;
    padding: 0.28rem;
    font-size: 0.75rem;
    font-weight: 500;
    margin-inline: 0;
}

.letters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
}

.letter-element-text{
    width: 40px;
    height: 40px;
    background-color: #323232;
    border-bottom: 1px solid #F9F4DA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
}

.red-text{
    color: red;
}

.keys{
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    max-width: 500px;
    justify-content: center;
    margin-top: 4rem;
}

.key-element{
    width: 40px;
    height: 40px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 4px;
    background-color: #FCBA29;
    border: 1px solid #D7D7D7
}

.right-key{
    background-color: #10A95B;
}

.wrong-key{
    background-color: #EC5D49;;
}

.game-over-key{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

.new-game{
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.75rem 5rem;
}